.cart{
    position:fixed ;
    width: 330px;
    padding: 20px;
    margin-left: 30px;
    border: 1px solid rgb(255, 147, 147);
    background-color: rgba(250, 235, 215, 0.800);

}
.red{
    color: white;
    background-color: red;
    border-radius: 15px;
}
.green{
    color: white;
    background-color: green;
    border-radius: 15px;
}

.cart p{
    
}
.gorib{
    color: red;
}
.borolok{
    color: rgb(1, 122, 1);
}
.fun-1{
    background-color: rgba(192, 250, 192, 0.687);
    padding: 10px;
    border-radius: 15px;
}
.fun-2{
    background-color: rgba(250, 192, 192, 0.687);
    padding: 10px;
    border-radius: 15px;
}
.borolox{
    color: rgb(90, 0, 115);
    background-color: rgb(255, 183, 255);
    padding: 10px;
    border-radius: 15px;
}
.fokira-borolok{
    color: rgb(255, 27, 72);
    background-color: rgba(255, 187, 187, 0.752);
    padding: 10px;
    border-radius: 15px;
}
